.head
  .head_left
    = link_to root_path,class:"top_page" do
      D-Ate...
  .head_right
    .login_btn
      = link_to '#',class:"user_login" do
        = icon('fas', 'lock')
        Login
    .join_btn    
      = link_to user_index_path,class:"user_join" do
        = icon('fas', 'user')
        Join