.head
  .head_left
    = link_to root_path,class:"top_page" do
      D-Ate...
  .head_right
    .head_right__btn   
      
      = link_to new_user_registration_path,class:"btn" do
        = icon('fas', 'user-edit')
        Join
    .head_right__btn
      = link_to new_user_session_path,class:"btn" do
        = icon('fas', 'sign-in-alt')
        Login
      