.contents
  .contents__join
    .info
      .info__name
        Join
      .info__message
        あなたのアカウントを作成します。
        %br
        アカウントを作成することで、
        %br
        マイリストがご利用いただけます。
    = image_tag src="food4.jpg",class:"food_img"
    .create
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .actions
          = f.submit "Sign up"
      = render "devise/shared/links"
