.contents
  .contents__join
    .info
      .info__name
        Join
      .info__message
        あなたのアカウントを作成します。
        %br
        アカウントを作成することで、
        %br
        マイリストがご利用いただけます。
    = image_tag src="food4.jpg",class:"food_img"
    .create
      .form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            .field-label
              = f.label :name
            .field-input
              = f.text_field :name, autofocus: true
          .field
            .field-label
              = f.label :gender
            .field-input
              = f.radio_button :gender,0
              = icon('fas', 'mars')
              = f.radio_button :gender,1
              = icon('fas', 'venus')
          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email
          .field
            .field-label
              = f.label :password
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .field
            .field-label
              = f.label :password_confirmation
            .field-input
              = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "Join", class: 'btn'
        = render "devise/shared/links"