.contents
  .contents__join
    .info
      .info__name
        New Shop
      .info__message
        新しいお店を登録します。
        %br
        お店を登録することで、
        %br
        検索機能から探すことができます。
    = image_tag src="food4.jpg",class:"food_img"
    .create
      .form
        =form_for @shop do |f|
          .field
            = f.label :Name
            %br/
            = f.text_field :name

          
          .field
            = f.label :url
            %br/
            = f.text_field :url
          .actions
            = f.submit "登録"
